{% extends "layouts/app.twig" %}

{% block content %}
    <div class="panel">
        <h1 class="line-under-title">Wachtwoord vergeten</h1>

        {% if session_get('status') %}
            <div class="alert alert-success">
                {{ session_get('status') }}
            </div>
        {% endif %}

        {% include "layouts/_partials/alerts.twig" %}

        <form method="post" action="{{ route('password.email') }}">
            {{ csrf_field() }}

            <div class="form-group floating-label">
                <label for="email">E-mailadres</label>
                <input class="form-control" type="email" id="email" name="email" value="{{ old('email') }}" autofocus>
            </div>

            <div class="mt-3 align-items-center d-flex justify-content-between">
                <button class="btn btn-primary btn-arrow">Versturen</button>

                <a class="text-muted small" href="{{ route('login') }}">
                    Inloggen
                </a>
            </div>

        </form>
    </div>
{% endblock %}
