{% extends "layouts/base.twig" %}

{% block content %}
    <h2>{{ question.category.header }}</h2>

    <ul class="multi-step-progress-bar">
        <li class="active">Personal Details</li>
        <li>Social Profiles</li>
        <li>Account Setup</li>
    </ul>

    <form action="{{ route('questions.store', question) }}" method="post">
        {{ csrf_field() }}

        <div class="well question">
            <h3>{{ question.text }}</h3>

            <input class="js-original-value w-100 mb-4" type="range" min="0" max="100" step="1" value="{{ answer.original_value }}" name="original_value" data-deeprate="{{ question.deeprate }}">
        </div>

        <div class="well deep-questions">
            <ul class="list-unstyled">
                {% for deepQuestion in question.deepQuestions %}
                <li>
                    <div class="d-flex mb-3">
                        <div class="mr-4">
                            <strong>{{ deepQuestion.text }}</strong><br>
                            <em>{{ deepQuestion.explanation }}</em>
                        </div>

                        <div class="ml-auto text-nowrap">
                            <label class="mr-3"><input type="radio" name="deep_questions[{{ deepQuestion.id }}]" value="1" {{ deepQuestion.id in deepAnswers|keys and attribute(deepAnswers, deepQuestion.id).value|default(null) == true ? 'checked' : null }}> Ja</label>
                            <label><input type="radio" name="deep_questions[{{ deepQuestion.id }}]" value="0" {{ deepQuestion.id in deepAnswers|keys and attribute(deepAnswers, deepQuestion.id).value|default(null) == false ? 'checked' : null }}> Nee</label>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="d-flex justify-content-between">
            {% if hasPreviousQuestion %}
                <button class="btn btn-primary" name="previous" value="1">Vorige</button>
            {% endif %}
            <button class="btn btn-primary" name="next" value="1">Volgende</button>
        </div>
    </form>
{% endblock %}
