<div class="list-group">
    {% for category in categories %}
        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center {{ category.slug == request().segment(1) ? 'active' : null }}" href="{{ route('questions.show', {'category': category}) }}">
            {{ category.name }}



            <div class="progress-circle progress-{{ category.progressKeeper().percentage()|round }}"></div>

        </a>
    {% endfor %}

    <a class="list-group-item list-group-item-action" href="{{ route('results.index') }}">Resultaten</a>
</div>

<div class="text-center mt-2">
    <a class="small text-muted" href="{{ route('reset') }}" onclick="return confirm('Weet je het zeker?');">opnieuw beginnen</a>
</div>
