{% spaceless %}
    <!doctype html>
    <html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <title>{{ config('app.name') }}</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet">
        <link href="{{ mix('css/app.css') }}" rel="stylesheet">

        <script src="{{ mix('js/app.js') }}"></script>

        {{ bugsnag_js() }}
    </head>
    <body>
    <header class="header">
        <div class="container">
            <a href="/"><img src="https://kfz.nl/img/kfz-logo-alternative.svg" width="150"></a>
        </div>
    </header>

    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-md-3">
                    {% include "_partials/navigation.twig" %}
                </div>

                <div class="col-md-9">
                    {% include "_partials/alerts.twig" %}

                    {{ block('content') }}
                </div>
            </div>
        </div>
    </div>

    {{ browsersync() }}
    </body>
    </html>
{% endspaceless %}
