{% spaceless %}
    <!doctype html>
    <html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="csrf-token" content="{{ csrf_token() }}">

        <title>{{ config('app.name') }}</title>

        <link rel="stylesheet" href="https://use.typekit.net/qds4tmh.css">
        <link href="{{ mix('css/app.css') }}" rel="stylesheet">

        <script src="{{ mix('js/app.js') }}"></script>

        {{ browsersync() }}
        {{ bugsnag_js() }}
    </head>
    <body>
    <header class="header">
        <a class="logo" href="#">
            {{ svg('callrondes') }}
        </a>

        <ul class="navigation">
            <li class="active">
                <a href="/">Openstaande calls</a>
            </li>
            <li>
                <a href="/">Mijn calls</a>
            </li>
        </ul>
        <div class="d-flex align-items-center ml-auto">
            {{ svg('notification') }}
            <div class="vcard ml-4">
                <img class="vcard-profile-picture" src="/img/woman.jpg" alt="Woman">
                <div class="vcard-info">
                    <div class="vcard-name">Elisabeth Pomp</div>
                    <div class="vcard-subtext">elisabeth@kfz.nl</div>
                </div>
            </div>
        </div>
        <a href="" class="navigation-button"><span></span></a>
    </header>

    <div class="app">

        <div class="sidebar">
            {{ block('sidebar') }}
        </div>

        <div class="{{ block('contentClass') ?? 'content' }}">
            {{ block('content') }}
        </div>
    </div>
    </body>
    </html>
{% endspaceless %}
